.input-container{
    display: grid;
    padding: 3rem 12rem;
 

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    gap: 2rem;
}

.span-1{
    grid-column-start: 1;
    grid-column-end: 2;

    height: 2rem;
}

.span-2{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 4;
}

.span-4{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;

    

}

.button.span-2{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;
}

.input-field{
    border: solid;
    border-color: rgba(0,0,0,0);
    position: relative;
    border-radius: 4px;

    transition: 0.2s ease-in;
}
.input-field:focus{
    outline: none;
    border: solid;
    border-color: #30475E;
    border-radius: 4px;
    border-width: 2px;

    background-color: rgba(255,255,255,0.4);

    transition: 0.2s ease-in;
}



.cta-text{
    text-align: center;
    padding: 2rem;

}

.cta-text h1{
    font-size: 3rem;
    margin: 1.5rem; 
    color: #30475E;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
.cta-text p{
    font-family: 'Poppins', sans-serif;
}

.submit {
    background-color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 2px;

    transition: 0.5s ease-out;
}

.submit a{
    font-family: 'Poppins', sans-serif;
}

.submit:hover{
    background-color: rgba(255,255,255,0.4);

    transition: 0.5s ease-out;
} 

.socials{
    padding: 2rem 24rem;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.icon{
    width: 2rem;
    height: 2rem;
}

.footer{
    text-align: center;
    padding: 2rem 0 0 0;

}

.footer p{
    font-family: 'Poppins', sans-serif;
}


@media(max-width: 852px){


    .input-container{
        display: grid;
        padding: 3rem 8rem;
     
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
        gap: 2rem;
    }
    
    .span-1{
        grid-column-start: 1;
        grid-column-end: 3;
    
        height: 2rem;
    }
    
    .span-2{
        grid-column-start: 1;
        grid-column-end: 3;
    
        grid-row-start: 4;
        grid-row-end: 6;
    }
    
    .span-4{
        grid-column-start: 1;
        grid-column-end: 3;
    
        grid-row-start: 6;
        grid-row-end: 7;
    
    }

    .socials{
        padding: 2rem 3rem;
        display: flex;
        justify-content: space-between;
        justify-items: center;
    }
    
    
 
    

}


@media(max-width: 600px){
    .input-container{
      
        padding: 3rem 3rem;
     
    }

}