<%- include partials/header -%>




<h1>Compose</h1>
<form action="/compose" method="post">
  <label for="composedTitle">Title</label><input id="composedTitle" class="form-control" type="text" name="composedTitle" autocomplete="off" value="">
  <label for="composedContent">Content</label><textarea id="composedContent" class="form-control" rows="3" type="text" name="composedContent" value=""></textarea>
  <br>
  <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include partials/footer -%>
